body {
    background: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    margin-top: 60px;
    display: grid;
    gap: 60px;
    justify-items: center;

}

.foto {
    max-width: 100%;
    display: block;
}

p, h1, h2, h3 {
    margin: 0px;
}

p {
    font-size: 1.25rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.header {
    display: grid;
    justify-items: center;
    gap: 60px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
}

.menu a {
    display: block;
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 5px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid transparent;
}

.menu a:hover {
    border: 2px solid #e21;
}

.conteudo {

    display: grid;
    max-width: 1000px;
    grid-template-columns: repeat(2, 1fr);
}

.info {
    background: #fff;
    text-align: right;
    padding: 40px;
    display: grid;
    gap: 20px;
    align-content: center;
    justify-items: end;
    position: relative;
}

.botao {
    background: #e21;
    padding: 1rem 2rem;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
}

.botao:hover {
    background: #900;
}

.info::before {
    content: "";
    width: 60px;
    height: 4px;
    background: #e21;
    border-radius: 2px;
    position: absolute;
    top: 30px;
    right: -30px;
}

.subtitulo {
    font-size: 4rem;
    padding: 40px;
    color: rgba(0, 0, 0, 0.2);
    text-align: right;
    align-self: center;
}

.vantagens {
    background: #fff;
    padding: 40px;
}

.vantagens-item {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 20px;
    gap: 10px 20px;

}

.vantagens-item:hover {
    border-left: 4px solid #e21;
}

.vantagens-item:nth-last-child(odd) {
    background: #f7f7f7;
}

.vantagens-item p {
    grid-column: 2;
}

.rodape {
    background: #fff;
    padding: 40px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}
